body {
    background-color: yellow; 
    color: cadetblue; 
    font-family: Arial, sans-serif; 
}

h1 {
    font-size: 50px; 
    font-family: 'Times New Roman', serif; 
    text-align: center;
}

h2, h3 {
    font-size: 20px; 
    font-family: 'Georgia', serif; 
    color: #123456; 
}

p {
    line-height: 1.6;

}

img {
    border: 5px solid red; 
    margin: 20px;
    border-top-right-radius: 30px;
}

li {
    display: inline-block;
    margin-left: 50px;
}
